<div class="container">
  <h1>Stupid Coach</h1>

  <div>
    <p><%= @question %></p>
    <%= link_to "new question", ask_path %>
    <p>-You</p>
  </div>

  <div>
    <p><%= @answer %></p>
    <p>-Your Coach</p>
  </div>
</div>
